{% extends 'UTASegProBundle::admin.html.twig' %}


    {% block header %}
        <h1>Cargo</h1>
    {% endblock %}
            
{% block content %}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Cargo</th>
                <td>{{ entity.cargo }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_cargo') }}">
                Volver a la lista
            </a>
        </li>
        <li>
            <a href="{{ path('admin_cargo_edit', { 'id': entity.id }) }}">
                Editar
            </a>
        </li>
        <li>
            <form action="{{ path('admin_cargo_delete', { 'id': entity.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                {{ form_widget(delete_form) }}
                <button type="submit">Eliminar</button>
            </form>
        </li>
    </ul>
{% endblock %}
