{% extends 'UTASegProBundle::admin.html.twig' %}
{% block title %} Fuentes de Financiamiento {% endblock %}


    {% block header %}
        <h1>Editar Fuente de Financiamiento</h1>
    {% endblock %}
            
{% block content %}
    <form action="{{ path('admin_fuentedefinanciamiento_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">Editar</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_fuentedefinanciamiento') }}">
                Volver a la lista
            </a>
        </li>
        <li>
            <form action="{{ path('admin_fuentedefinanciamiento_delete', { 'id': entity.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                {{ form_widget(delete_form) }}
                <button type="submit">Eliminar</button>
            </form>
        </li>
    </ul>
{% endblock %}
